.loginDesign {
    height: 75vh;
    width: 100vw;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}

.buttonLoginDesign {
    height: 2.5em;
    width: 7.5em;
    background-color: rgb(187, 223, 215);
    border-radius: 0.6em;
    cursor: pointer;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    font-size: 0.9em;
}

.buttonLoginDesign:hover {
    background-color: rgb(132, 161, 155);
}

.divCrearCuenta {
    cursor: pointer;
    margin-top: 1em;
    font-size: small;
}

.divCrearCuenta:hover {
    color: rgb(127, 131, 134);
}




.form-container {
    max-width: 340px;
    font: 700 14px Menlo,Roboto Mono,monospace;
    text-align: center;
    color: #333;
    margin-top: 12px;
  }
  
  .form-container form {
    padding: 30px 20px;
    background: #fff;
  }
  
  .form-container__title {
    display: block;
    font-size: 2em;
    margin: 40px 0;
  }
  
  .form-container button {
    user-select: none;
    padding: 10px 14px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 700 12px Arial;
    text-transform: uppercase;
    column-gap: 10px;
    cursor: pointer;
    background: rgba(213, 240, 234, 0.63);
    border: none;
    border-radius: 6px;
    margin-bottom: 15px;
    transition: all .1s ease-in-out;
    outline: 2px solid transparent;
    box-shadow: 0 1px 5px rgb(0, 0, 0, .1);
  }
  
  .form-container button:active {
    transform: scale(.96);
  }
  
  .form-container button:disabled {
    opacity: .7;
    cursor: default;
  }
  
  .form-container button:focus:not(:active), .form-container button:focus:not(:hover) {
    outline-offset: 2px;
    outline-color: rgba(0,0,0,.25);
  }
  
  
  .form-container__sign-inputs label {
    text-align: start;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 30px;
    position: relative;
    justify-content: center;
    user-select: none;
  }
  
  .form-container__sign-inputs input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 10px;
    font: 14px Menlo,monospace;
    background: none;
    border-radius: 6px;
    border: 2px solid #eee;
    background: #eee;
    color: #333;
    width: 100%;
    outline: 2px solid transparent;
  }
  
  .form-container__sign-inputs input:focus, .form-container__sign-inputs input:active {
    outline-color: #2196f3;
    outline-offset: 2px;
  }
  
  .form-container .submit-button {
    color: #fff;
    background: #2196f3;
  }
  
  .form-container__auth-block {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 2px solid rgb(0, 0, 0, .1);
    font-weight: normal;
  }
  
  .form-container__auth-block a {
    color: #6495ed;
    text-decoration: none;
  }
  
  .form-container__auth-block a:hover {
    text-decoration: underline;
  }
  
  /* checkmark */
  
  .form-container__sign-inputs span {
    position: absolute;
    right: 25px;
  }
  
  .form-container__sign-inputs span::before {
    position: absolute;
    top: 14px;
    content: '';
    width: 0;
    height: 0;
    border-left: 3px solid #0e851a;
    border-bottom: 3px solid #0e851a;
    opacity: 0;
    transform-origin: left top;
    transform: rotate(-45deg) translateY(2px);
    animation: none;
    border-radius: 2px;
  }
  
  .form-container__sign-inputs legend {
    padding: 0;
    margin: 0;
  }
  
  .form-container__sign-inputs input:valid+span::before {
    animation: checkmark linear both 0.6s;
  }
  
  .form-container__sign-inputs input:valid {
    padding-right: 30px;
  }
  
  @keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 0;
    }
  
    80% {
      height: 0;
      width: 0;
      opacity: 0;
    }
  
    90% {
      height: 4px;
      width: 0;
      opacity: 1;
    }
  
    100% {
      height: 4px;
      width: 10px;
      opacity: 1;
    }
  }








@media (min-width:1100px) {

    .loginDesign {
        display: flex;
        justify-content: flex-start;
        margin-top: 7em;
    }

    .divCrearCuenta {

        font-size: medium;
    }

    .loginDesign {
        height: 60vh;
       
    }
}