.registerDesign {
    height: 80vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttonRegisterDesign {
    height: 2.5em;
    width: 7.5em;
    background-color: rgb(187, 223, 215);;
    border-radius: 0.6em;
    cursor: pointer;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    font-size: 0.9em;
}

.buttonRegisterDesign:hover {
    background-color: aqua;

}


@media (min-width:1024px) {
    .registerDesign {
        height: 65vh;
       
    }
    
    
    
}