.cardProduct2 {
    border: 0 !important;
    margin-top: 2em;


}

.btnAddCart {
    height: 2.5em;
    width: 5.5em;
    background-color: rgb(187, 223, 215);
    border-radius: 0.6em;
    cursor: pointer;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    font-size: 0.9em;
}

.divcenterbtnAdd {
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (min-width:1100px) {

    .cardProduct2 {
        width: 30em !important;
        height: 30em !important;
        font-size: larger;
        display: flex;
        flex-direction: row !important;
        margin-top: 5em;
        margin-left: 5em;
    }

    .cardProduct2ibody {
        width: 20em !important;
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin-left: 5em;
    }
    .btnAddCart {
        height: 4.5em;
        width: 6.5em;
    
    }
    .cardProduct2ititle{
        width: 10em;
        font-size: 2em !important;
    }
}