.profileDesign {
    width: 100vw;
    background-color: transparent;

}

.profileData {
    border-radius: 1em;
    padding: 1em;
    font-size: medium;
    line-height: 1.5em;

}

.titleProfile {
    font-weight: 700;
    font-size: larger;
}


.btnEditProfile {
    height: 2.5em;
    width: 7.5em;
    background-color: rgb(187, 223, 215);
    border-radius: 0.6em;
    cursor: pointer;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    font-size: 0.9em;

}

.btnEditProfile:hover {
    background-color: rgb(132, 161, 155);
    ;
}

.dataUser {
    font-size: 0.9em;
    font-style: italic;
    margin-top: 2em;
}

.pData {
    font-size: 1.3em;
    padding-left: 5em;
    font-style: normal;
    padding-top: 0.3em;

}

.divCenterBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:900px) {

    .profileData {
        width: 50vw !important;
        line-height: 3em !important;

    }
}