.homeDesign {
    width: 100vw;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 2em;
}

.gridProducts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    margin-bottom: 2em;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;

}
.banner1{
    color: rgba(82, 141, 128, 0.432);
    margin: 0;
    font-size: large;
    
}
.banner2{
    color: rgba(108, 139, 133, 0.432);
    margin: 0;
    font-size: smaller;
}

.banner3{
    color: rgba(108, 139, 133, 0.432);
    font-size: smaller;
    
}



@media (min-width:756px) {

    .gridProducts {
        grid-template-columns: 1fr 1fr;
        gap: 4em;
    }

}


@media (min-width:1024px) {

    .gridProducts {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5em;
    }


    .banner1{
        color: rgba(82, 141, 128, 0.432);
        margin: 0;
        font-size: xx-large;
    }
    .banner2{
        color: rgba(108, 139, 133, 0.432);
        margin: 0;
        font-size: x-large;
    }
    
    .banner3{
        color: rgba(108, 139, 133, 0.432);
        font-size: x-large;
        
    }

}