.updateDesign{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}
.divCenterButtons{
    display: flex;
    margin-bottom: 1em;
    gap: 1.3em;
}

.btnAtras, .buttonUpdateProfile{
    height: 2.5em;
    width: 7.5em;
    background-color: rgb(187, 223, 215);;
    border-radius: 0.6em;
    cursor: pointer;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
    font-size: 0.9em;
}

.btnAtras:hover, .buttonUpdateProfile:hover{
    background-color: rgb(132, 161, 155);
}


@media (min-width:900px) {
    .updateDesign{
      
    }
    
}
