.navigatorDesign {
    background-color: transparent;
    border-radius: 0.3em;
    color: rgb(167, 204, 197);
    cursor: pointer;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    transition: 0.3s;
    font-size: small;

}

.navigatorDesign:hover {
    color: rgb(106, 136, 130);
    transition: 0.3s;

}

@media (min-width:900px) {
    .navigatorDesign {
        width: 8em;
        font-weight: 500;
        font-size: 19px;
    }
}