.inputDesign {
    margin: 0.8em;
    border-bottom: 0.2em solid rgb(187, 223, 215);
    border-left: 0.2em solid rgb(187, 223, 215);
    border-top: 0;
    border-right: 0;
    border-radius: 0.5em;
    background-color: transparent;
    width: 15em;
    height: 2.5em;
    color: black;
    text-align: center;
}
.inputDesign::placeholder{
 font-size: smaller;
}

@media (min-width:1500px) {

    .inputDesign {
        margin: 1.2em;

    }
    
}