.inputDesign {
    margin: 0.8em;
    border-bottom: 0.15em solid rgb(187, 223, 215);
    border-left: 0.15em solid rgb(187, 223, 215);
    border-top: 0;
    border-right: 0;
    border-radius: 0.5em;
    background-color: transparent;
    width: 15em;
    height: 2.5em;
    color: black;
    text-align: center;
}

.inputDesign::placeholder {
    font-size: smaller;
}

.inputDesign:focus {
    outline: none !important;
    border: 0.15em solid rgb(187, 223, 215) !important;
}

@media (min-width:1024px) {

    .inputDesign {
        margin: 1.2em;
        width: 40em;
    }

}