.headerDesign {
    height: 13vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgb(106, 136, 130);;
}

.linksNav {
    display: flex;
    font-size: smaller;
}

.logoutDesign {
    height: 2em;
    width: 4.5em;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.3em;
    transition: 0.3s;
    color: rgb(167, 204, 197);
    font-weight: 500;

}

.logoutDesign:hover {
    color: rgb(106, 136, 130);
    transition: 0.3s;
}

.logoDesign {
    width: 4em;
    height: 3.5em;
    background-image: url("../../assets/ibebelogo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    border-bottom: 0.5px solid rgb(106, 136, 130);;
}

@media (min-width:900px) {
    .logoDesign {
        width: 15em;
        height: 10em;
        cursor: pointer;
    }

    .logoutDesign {
        height: 4em;
        width: 10em;
        font-weight: 500;
        font-size: 22px;
    }
}