.headerDesign {
    height: 12vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgb(106, 136, 130);
}

.linksNav {
    display: flex;
    font-size: smaller;
}

.logoutDesign {
    width: 6.5em;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0.3em;
    transition: 0.3s;
    color: rgb(167, 204, 197);
    font-weight: 500;
}

.logoutDesign:hover {
    color: rgb(106, 136, 130);
    transition: 0.3s;
}

.logoDesign {
    width: 4em;
    height: 4em;
    background-image: url("../../assets/ibebelogo.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.divBtnRegister {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.divBtnRegister {
    margin-top: 13px;
    cursor: pointer;
}

.divBtnLogin {
    margin-top: 13px;
    cursor: pointer;
}

.svgLinkNav {
    margin-left: 20px;
}

.textNavbarSvg {
    margin-top: 7px;
    color: rgb(163, 192, 187);
}

.divBtnAdmin {
    margin-left: 1em;
    cursor: pointer;
}

.svgCart {
    cursor: pointer;
    margin-right: 1.5em;
}


@media (min-width:900px) {
    .logoDesign {
        width: 13em;
        height: 12em;
        margin-top: 4em;
    }

    .logoutDesign {
        height: 4em;
        width: 10em;
        font-weight: 500;
        font-size: 19px;
    }

    .divBtnLogin {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .divBtnRegister {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textNavbarSvg {
        font-size: medium;
    }

    .svgLinkNav {
        margin-left: 25px;
    }

    .divBtnAdmin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .divBtnProfile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .svgLinkNav2 {
        margin-right: 1.5em;
    }




}

@media (min-width:1300px) {

    .svgCart {
        margin-top: 1em;
    }

    .svgHistory {
        margin-right: 4em;
        margin-top: 1em;
    }
}