.cardProduct {
    border: 0 !important;
}

.titleCard{
    font-size: medium !important;
}

.btnDetail {
    background-color: aliceblue;
}

.textcardProduct{
    text-align: center;
}


.cardBodyProduct {
    height: 4em;
}

@media (min-width:900px) {

    .textcardProduct {
        text-align: end;
        font-size: 1.2em;
    }

    .titleCard{
        font-size: large !important;
    }

}