.AdminPanelDesign {
    width: 100vw;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}

.titleClients {
    font-size: larger;
    font-weight: 600;
    margin: 1em;
}

.gridUsers {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4em;
    margin-bottom: 2em;
}

@media (min-width:900px) {

    .gridUsers {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .AdminPanelDesign {
        height: 75vh;
        margin-top: 5em;
    }

}